#all-image-containers {
  border: 1px solid var(--very-light-gray);
  border-radius: 6px;
  padding-right: 8px;
  margin-top: 2px;
  margin-bottom: 6px;
}

#image-container {
  padding-left: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#image {
  height: 150px;
  width: auto;
}

#image-selection-container {
  padding-left: 10px;
  padding-top: 10px;
}

#upload-image-container {
  padding-top: 10px;
}

#filter-container {
  margin-bottom: 10px;
}
