.mv-colorscheme {
  --MV-white: #ffffff;
  --MV-black: #000000;
  --MV-light-teal: #2f8d98;
  --MV-dark-teal: #115e63;
  --MV-deep-teal: #093c44;
  --MV-green: #b5cd34;
  --MV-orange: #f7941e;
  --MV-light-gray: #6d6e71;
  --MV-dark-gray: #414042;
  --very-light-gray: #dddddd;
}

body {
	color: var(--MV-black);
	background-color: var(--MV-white);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.row {
  margin-top: 10px;
}

.col {
  border: 1px solid var(--very-light-gray);
}

#instructions {
  font-size: 14px;
  border-radius: 6px;
  color: var(--MV-white);
  background-color: var(--MV-light-teal);
}

#hierarchy {
  
}

#quiz {
  padding-top: 16px;
}