#effects-container {
  background-color: var(--MV-light-teal);
  border: 1px solid var(--very-light-gray);
  border-radius: 6px;
  padding-right: 8px;
  margin-top: 2px;
  margin-bottom: 6px;
}

#effects-div {
  font-size: 40px;
  background-color: var(--MV-white);
  padding: 20px 10px;
  margin: 20px 10px;
}